<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
</head>
<body>

<h2>Simple Form</h2>

<!-- Static text -->
<p>This is a simple HTML form.</p>

<form action="/search_form" method="post">
    <label for="employee_id">Employee ID:</label><br>
    <input type="text" id="employee_id" name="employee_id"><br>
    <input type="submit" value="Submit">
</form>

<!-- Display information -->
<p>Submitted query: {{ sql_query }}</p>

<table>
    {% for item in data %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
    </tr>
    {% endfor %}
    </table>


{% endif %}

</body>
</html>
