<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
</head>
<body>


<!-- Static text -->
<h3>Fetch student details using student id</h3>

<form action="/search_form" method="post">
    <label for="employee_id">Employee ID:</label><br>
    <input type="text" id="employee_id" name="employee_id"><br>
    <input type="submit" value="Submit">
</form>

<!-- Display information -->
<p>{{sql_query}}</p>
<p>{{data}}</p>

</body>
</html>
